:root {
    --header-font: 'DM Serif Display', serif;
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    --border-color: grey;
    --border-size: 1px;

    --container-size-desktop: 15vw;
    --container-size-mobile: 5vw;

    --post-image-desktop-width: 416px;
    --post-image-desktop-height: 234px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--body-font);
}

h1, h2, h3 {
    font-family: var(--header-font);
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px auto 220px;
    grid-template-areas: "navbar"
                         "main"
                         "footer";
}

#navbar {
    grid-area: navbar;
    border-bottom: var(--border-size) solid var(--border-color); 
}

#navbar-container {
    margin-left: var(--container-size-mobile);
    margin-right: var(--container-size-mobile);
}

#logo {
    display: none;
    max-height: 52px;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* #menu li {
    float: left;
} */

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 12px;
    /* border: 1px solid red; */
}

#main {
    grid-area: main;
    min-height: 600px;
}

#footer {
    grid-area: footer;
    border-top: var(--border-size) solid var(--border-color);
    background-color: #ffffff;
}

#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: var(--container-size-mobile);
    margin-right: var(--container-size-mobile);
}

#footer-container hr {
    display: none;
}

#footer-container p {
    color: #bebebe;
}

.post a {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post a img, .post-text {
    max-width: 100%;
}

.container {
    margin-left: var(--container-size-mobile);
    margin-right: var(--container-size-mobile);
}

@media screen and (min-width: 768px) {
    #logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        border-right: var(--border-size) solid var(--border-color);
    }

    #logo a {
        padding: 0px !important;
    }

    #menu ul {
        justify-content: flex-start;
    }

    .post a img {
        width: 80%;
    }
    
    .post-text {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    #footer-container {
        display: block;
        margin-left: var(--container-size-desktop);
        margin-right: var(--container-size-desktop);
    }

    #footer-container hr {
        display: block;
        margin-bottom: 10px;
    }

    #navbar-container {
        margin-left: var(--container-size-desktop);
        margin-right: var(--container-size-desktop);
    }

    .container {
        margin-left: var(--container-size-desktop);
        margin-right: var(--container-size-desktop);
    }

    .post a {
        flex-direction: row;
    }

    .post a img {
        max-width: var(--post-image-desktop-width);
        min-width: var(--post-image-desktop-width);
    }
    
    .post-text {
        margin-left: 20px;
        min-height: var(--post-image-desktop-height);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .post-text h2 {
        margin-top: 0px;
    }
}