:root {
    --header-font: 'DM Serif Display', serif;
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    --border-color: grey;
    --border-size: 1px;

    --container-size-desktop: 15vw;
    --container-size-mobile: 5vw;

    --post-image-desktop-width: 416px;
    --post-image-desktop-height: 234px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--body-font);
}

body {
    overflow: hidden;
}

h1, h2, h3 {
    font-family: var(--header-font);
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px auto;
    grid-template-areas: "navbar"
                         "main";
}

#navbar {
    grid-area: navbar;
    border-bottom: var(--border-size) solid var(--border-color); 
}

#navbar-container {
    margin-left: var(--container-size-mobile);
    margin-right: var(--container-size-mobile);
}

#logo {
    display: none;
    max-height: 52px;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 12px;
}

#pdf-container {
    grid-area: main;
    min-width: 100%;
    min-height: 100%;
    display: none;
}

#pdf-container-mobile {
    grid-area: main;
    min-width: 100%;
    min-height: 100%;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: none;
}

@media screen and (min-width: 768px) {
    #logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        border-right: var(--border-size) solid var(--border-color);
    }

    #logo a {
        padding: 0px !important;
    }

    #menu ul {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    #navbar-container {
        margin-left: var(--container-size-desktop);
        margin-right: var(--container-size-desktop);
    }

    #pdf-container {
        display: block;
    }
    
    #pdf-container-mobile {
        display: none;
    }
}