{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock stylesheet %}

{% block content %}

<main id="main">
    <div class="container">
        <br>
        <h1 class="page-heading">Archive</h1>
        <hr>
        <!-- Displays a list of links to all the newspapers ever published to the site -->
        <ul>
            {% for paper in object_list %}
                <li><a class="archive-link" href="{% url 'paper-detail' paper.slug %}">{{ paper.date|date:"F Y" }} | {{ paper.title }}</a></li>
            {% endfor %}
        </ul>
        
    </div>
</main>

{% include 'footer.html' %}

{% endblock content %}