{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock stylesheet %}

{% block content %}

<main id="main">
    <br>
    <div class="container">
        <!-- This for loop displays a list of all posts with their respective images, titles, descriptions, and dates -->

        {% for paper in object_list %}
            <article class="post">
                <a href="{% url 'paper-detail' paper.slug %}">
                    <img src="{{ paper.image.url }}" alt="cool pic">
                    <div class="post-text">
                        <h2>{{ paper.title }}</h2>
                        <p>{{ paper.description|safe }}</p>
                        <!-- the code date:"F Y" displays the date as month year, e.g. Jan 2024 -->
                        <p>{{ paper.date|date:"F Y" }}</p>
                    </div>
                </a>
            </article>
            <hr class="post-seperator">

        {% endfor %}
    </div>
</main>

{% include 'footer.html' %}

{% endblock content %}

